html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
  background-image: url(../../assets/background.png);
  background-repeat: no-repeat;
  background-size: 100% 890px;
  background-position: top center;
}

a {
  color: var(--text-color);
}

button {
  color: var(--black-text);
  background-color: var(--text-color);
  border: none;
}

p {
  color: var(--text-color);
}

h1, h2 {
  color: var(--text-color);
  font-size: 3rem;
}

h3 {
  color: var(--text-color);
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--subtitle-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 2rem 3rem 0 3rem;
  gap: 3rem 1rem;
}
.gallery__img {
  width: 100%;
  border: 1px solid var(--text-color);
}

.infosAndNumbers {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.2fr 1fr;
  grid-template-areas: "numbers infos infos" "numbers banner banner";
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--subtitle-color);
}

.popularOfTheWeek {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  align-items: flex-start;
  flex-direction: column;
  padding: 5rem 3rem;
  gap: 5rem;
}

.popular {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  position: relative;
  row-gap: 3rem;
}
.popular .divider {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--subtitle-color);
  left: 50%;
}

.bestArtists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  align-items: center;
  flex-direction: column;
  padding: 0rem 3rem;
  gap: 5rem;
}
.bestArtists__content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: space-around;
  row-gap: 2rem;
}
.bestArtists__footer {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "toTop toTop" "subscribe listNavigation" "socialLinks socialLinks";
  margin-top: 5rem;
  background: var(--card-color);
}

.menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
}
.menu__link {
  text-decoration: none;
}
.menu__link:hover {
  color: var(--color-logo);
}

.connect {
  position: relative;
  width: 200px;
  height: 50px;
}
.connect__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.connect__btn {
  width: 100%;
  height: 100%;
  text-indent: 2rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
.connect__btn:hover {
  box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.5);
}

.headings__intro {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headings__avatars {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatars__text span {
  color: var(--text-color);
  font-weight: 700;
}

.headings__title {
  width: 40%;
}

.numbers {
  grid-area: numbers;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  gap: 5rem;
  border-right: 1px solid var(--subtitle-color);
}
.numbers .number {
  font-size: 1rem;
}
.numbers .number__value {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 700;
}

.infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.infos .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}

.infosAndNumbers__banner {
  width: 100%;
  height: 100%;
  grid-area: banner;
  background: url(../../assets/banner2.png);
  background-size: cover;
}

.popular__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__header, .card__info {
  display: flex;
  justify-content: space-between;
}

.card__header:first-child {
  font-size: 1.5rem;
  font-weight: 500;
}

.artist {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--card-color);
  transition: all 0.1s ease;
  cursor: pointer;
}
.artist:hover {
  background-color: var(--color-logo);
  color: var(--color-logo);
  box-shadow: 1px 1px 50px rgba(255, 73, 73, 0.5);
}
.artist:hover .highlight {
  color: #fff;
}

.toTop {
  grid-area: toTop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--subtitle-color);
}
.toTop__btn {
  width: 50px;
  height: 50px;
  background: var(--color-logo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe {
  grid-area: subscribe;
  padding: 2rem;
  margin: auto 0;
  border-right: 1px solid var(--subtitle-color);
}
.subscribe__input {
  width: 70%;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  border: none;
  background: var(--black-text);
}
.subscribe__btn {
  width: 28%;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  border: none;
  font-weight: 700;
  background: var(--text-color);
}

.listNavigation {
  grid-area: listNavigation;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.listNavigation__title {
  font-weight: 700;
}
.listNavigation__items, .listNavigation a {
  text-decoration: none;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.listNavigation__items:hover, .listNavigation a:hover {
  color: var(--color-logo);
}

.socialLinks {
  grid-area: socialLinks;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-top: 1px solid var(--subtitle-color);
}
.socialLinks .socials {
  display: flex;
  gap: 2rem;
  align-items: center;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

.subtitle {
  color: var(--subtitle-color);
  font-weight: 500;
}

.highlight {
  color: var(--color-logo);
}

/*# sourceMappingURL=main.css.map */
