footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
                  "toTop toTop"
                  "subscribe listNavigation"
                  "socialLinks socialLinks";
  margin-top: 5rem;
  background: var(--card-color)
}