html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background); 
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: 100% 890px;
  background-position: top center;
}

a {
  color: var(--text-color);
}

button {
  color: var(--black-text);
  background-color: var(--text-color);
  border: none;
}

p {
  color: var(--text-color);
}

h1, h2 {
  color: var(--text-color);
  font-size: 3rem;
}

h3 {
  color: var(--text-color);
  font-size: 1.5rem
}