::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--subtitle-color);
  border-radius: 10px;

  &:hover {
    background: gray;
  }
}