.menu {
  display: flex;
  gap: 3rem;
  align-items: center;
  list-style: none;
  
  &__link{
    text-decoration: none;

    &:hover {
      color: var(--color-logo);
      text-shadow: 1px 1px 20px rgba(255, 44, 44, 0.664);
    }
  }
}