.toTop {
  grid-area: toTop;
  @include flex-between;
  border-bottom: 1px solid var(--subtitle-color);

  &__btn {
    width: 50px;
    height: 50px;
    background: var(--color-logo);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}